{% include 'header.html' %} <!-- Bao gồm phần header -->

<div class="page-error">
    <div id="particles"></div>
    <div class="carousel page-one-error-inner">
        <h1>Lỗi 401</h1>
        <h4 class="clearfix">Ooopps.! Bạn không có quyền truy cập trang này!</h4>
        <h5 class="clearfix">Trang này yêu cầu xác thực, vui lòng đăng nhập để tiếp tục.</h5>
        <div class="clearfix search-form">
            <form class="form-inline" action="#" method="GET">
                <input type="text" class="form-control" placeholder="Tìm kiếm trang">
                <button type="submit" class="btn btn-color">Tìm kiếm</button>
            </form>
        </div>
        <a href="index.html">
            <i class="fas fa-arrow-left me-1"></i>
            Trở về Bảng điều khiển
        </a>
    </div>
</div>

{% include 'footer.html' %} <!-- Bao gồm phần footer -->
{% include 'scripts.html' %} <!-- Bao gồm phần script -->
</body>
</html>
